.status-content {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

.status-line-wrap {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.status-line {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  height: 3px;
  transform: translateY(-30%);
  z-index: 1;
  background: none;
  border-top: 3px dashed #444;
}

.status-content-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.status-data-block {
  display: flex;
  max-width: 32px;
  flex-direction: column;
  align-items: center;
  background: #191c2d;
  padding: 4px 8px;
  border-radius: 6px;
  z-index: 2;
}

.status-img-wrap {
  width: 32px;
  height: 32px;
  position: relative;
  border: 2px solid #75fb4c;
  border-radius: 50%;
}

.status-img-wrap.last {
  border: 2px dashed #444;
}

.status-img-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .status-img-wrap {
    width: 16px;
    height: 16px;
  }

  .status-img-wrap img {
    width: 10px;
    height: 10px;
  }

  .status-data-block h5 {
    font-size: 10px;
    font-weight: normal;
  }
}

@media (max-width: 425px) {
  .status-line-wrap {
    width: 100%;
  }
}
