.portfolio-content-title {
  color: #fff;
  padding-bottom: 40px;
}

.portfolio-content-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.portfolio-content-wrap {
  margin: 10px 0;
}
