.distribution-wrap {
  display: flex;
  justify-content: space-between;
}

.distribution-bar-wrapper {
  width: 60%;
  height: 20px;
}

.distribution-linear-bar {
  height: 20px;
}

.distribution-text {
  width: 40%;
  text-align: right;
  font-weight: 300;
  font-size: 12px;
}
