.custom-table {
  font-size: 14px;
}

.summary-row td {
  font-size: 0.9em;
  line-height: 1.4;
}

.summary-row td div:first-child {
  font-weight: bold;
}

.line-cell {
  display: flex;
  align-items: center;
  gap: 5px;
}

.line-logo {
  padding: 3px;
  border-radius: 50%;
}

.line-logo.blue {
  background: #1a3fff;
}

.line-logo.green {
  background: #4caf50;
}

.line-logo.purple {
  background: rgb(146, 8, 146);
}

.line-logo.red {
  background: #f86c6b;
}

.line-code {
  color: #656565;
}

.status-cell {
  display: flex;
  align-items: center;
  gap: 8px;
}

.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: blink 1.2s infinite ease-in-out;
}

.status-dot.green {
  background-color: #4caf50;
}

.status-dot.yellow {
  background-color: #ffc107;
}

.status-dot.gray {
  background-color: #9e9e9e;
}

.rate-change.red {
  color: #f86c6b;
}

.loss-ratio span {
  color: #000;
  padding: 5px;
  border-radius: 20px;
}

.loss-ratio.green span {
  background: #4caf50;
}

.loss-ratio.yellow span {
  background: #ffc107;
}

.loss-ratio.red span {
  background: #f86c6b;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
