* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

.App {
  background: #0f111a;
}

.wrap {
  width: 90%;
  margin: 0 auto;
}

.content-title {
  color: #fff;
  padding: 20px 10px;
}

.content-wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.content-main-wrap {
  border: 1px solid #fff;
  border-radius: 20px;
  background: #2e2f3a;
  padding: 20px;
}
